.container {
    width: 1220px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    background-color: #163A24;
    padding-top: 20px;

}

.box {
    display: flex;
}

.logo {
    margin-right: 676px;
}

.header-list {
    list-style: none;
    display: flex;
}

.header-item {
    margin-right: 24px;
}

.header-list-link {
    text-decoration: none;
    color: #fff;
}

.block {
    display: flex;
    align-items: center;
}

.header-link {
    width: 151px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    background: #198C36;
    border-radius: 160px;
}

.logIn {
    background-color: #163A24;
    padding-top: 160px;
}

.logIn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logIn-block {
    margin-left: 100px;
}

#form {
    display: flex;
    flex-flow: column wrap;
}

.FormLabel {
    width: 400px;
    font-size: 50px;
    color: #fff;
}
 
.label {
    width: 100px;
    margin-top: 70px;
    color: #fff;
    font-size: 27px;
}

.input {
    width: 420px;
    height: 50px;
    margin-top: 5px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
}

.submit {
    display: flex;
    justify-content: right;
}

.btn {
    width: 115px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color:#198C36;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

.signUp {
    background-color: #F2EFE6;
    padding-top: 54px;
    padding-bottom: 73px;
}

.signUp-box {
    display: flex;
    align-items: center;
}

.signUp-block {
    margin-right: 200px;
}

.signUp-title {
    width: 342px;
    height: 54px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #163A24;
}

.signUp-des {
    width: 299px;
    height: 27px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #163A24;
}

.signUp-input {
    width: 553px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    border-radius: 255px;
    margin-right: -50px;
}

#sign-up {
    margin-top: 50px;
}

.input-link{
    width: 111px;
    height: 54px;
    background: #15762E;
    border-radius: 160px;
    border: none;
}

.input-des {
    width: 524px;
    height: 42px;
    margin-top: 11px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;    
    color: #163A24;
    
}

.end {
    padding-top: 44px;
    padding-bottom: 44px;
}

.end-box {
    display: flex;
    align-items: center;
}

.end-logo {
    margin-right: 377px;
}

.end-title {
    width: 242px;
    height: 36px;
    margin-right: 311px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #163A24;
}

.end-link {
    margin-right: 14px;
}

.end2-box {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.end-block1 {
    margin-right: 415px;
}

.end-block-link {
    width: 462px;
    height: 21px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #163A24;
    text-decoration: none;    
}

.end-block-links {
    margin-right: 14px;
    height: 19px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #198C36;
    text-decoration: none;
}